body{
    margin: 0 auto;
    padding: 0;
}
.text{
    text-align: center;
}
.margin{
    margin-bottom: 15px;
}
.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.border{
    border: 15px solid white;
}
.baground{
    background-color: green;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.width-left{
    width: 40%;
}
.width-right{
    width: 59%;
}
.padding-left{
    padding-top: 45px;
    padding-bottom: 69px;
}
.padding-right{
    padding-top: 45px;
    padding-bottom: 69px;
}