body {
    margin: auto;
    background-color: #00802b;
    padding-top: 10px;
}
.border {
    border: 1px solid black;
}
.margin {
    margin-bottom: 10px;
}
.padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
.bgcolor {
    background-color: #8cff66;
}
.margin_auto {
    margin: 0 auto;
}
.bgcolor1 {
    background-color: #ffffff;
}
.width {
    width: 98%;
}
.text_indent {
    text-indent: 10px;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.width68{
    width: 68%;
}
.width30 {
    width: 30%;
}
.text_center{
    text-align: center;
}
.padding6{
    padding-top: 70px;
    padding-bottom: 70px;
}
.padding7{
    padding-top: 120px;
    padding-bottom: 120px;
}
.padding8{
    padding-top: 20px;
    padding-bottom: 20px;
}
.width90{
    width: 90%;
}