body{
    margin: 0 auto;
    padding: 0;
}
.text{
    text-align: center;
}
.margin{
    margin-bottom: 10px;
}
.border{
    border: 1px solid black;
}
.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.width{
    width: 60%;
}
.width_right{
    width: 39%;
}
.padding_right{
    padding-top: 34px;
    padding-bottom: 34px;
}