body{
    margin: 0;
    padding: 0;
}

.width{
    width: 500px;
    margin: auto;
}
.bg-color1{
   background-color: white;
} 
.bg-color2{
   background-color: rgb(255, 197, 238);
} 
.rf{
   font-size: 25px;
}