body{
    padding: 0;
    margin: 0 auto;
}
.color{
    background-color: rgb(67, 113, 175);
}
.color1{
    background-color: rgb(245, 211, 137);
}
.color2{
    background-color: rgb(255, 203, 103);
}
.color3{
    background-color: rgb(219, 120, 53);
}
.color4{
    background-color: rgb(204, 255, 50);
}
.color5{
    background-color: rgb(49, 136, 231);
}
.padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding0{
    padding-top: 29px;
    padding-bottom: 29px;
}
.border{
    border-bottom: 10px solid rgb(224, 129, 71);
}
.tex-in{
    text-indent: 10px;
}
.wfl{
    width: 50%;
    float: left;
}
.wfr{
    width: 50%;
    float: right;
}
.witdh-main{
    width: 95%;
    margin: 0 auto;
}
.witdh-main1{
    width: 85%;
    margin: 0 auto;
}
button{
    width: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    border: none;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.font-style{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.font-style1{
    font-size: 15px;
    font-weight: bold;
    color: rgb(199, 99, 14);
}
.font-style2{
    font-size: 10px;
    font-weight: bold;
}
.wfl1{
    width: 60%;
    float: left;
}
.wfr1{
    width: 40%;
    float: right;
}
.padding1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.box{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    border: 1px solid black;
}
.box1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border: 1px solid black;
}
.box2{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: 1px solid black;
}
.box3{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: 1px solid black;
}
.wfl2{
    width: 40%;
    float: left;
}
.wfr2{
    width: 60%;
    float: right;
}